@charset "utf-8";

/*** 基本設定 ***/
* { margin:0; padding:0; border:0; }
img { border: 0; }
html{ height:100%; font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}

/** 文字サイズ設定 **/
/* 基本文字サイズ */
body	{ font-size: 100%; }
td,th /**/: { font-size: 100%; }
h1,h2,h3,h4,h5,h6 { font-size:100%; }

/*** link ***/
a{ color:#003399;}
a:hover { color:#dd648e;}
a:hover img{
	opacity:0.7;
	-moz-opacity:0.7;
	filter: alpha(opacity=70);
	transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;}

/** body **/
html{background:#ffffff;}
body {
	height:100%;
    margin: 0;
	padding: 0;
	color: #222;
	text-align: center;
	background-color:#ffffff;}

/** form **/
input, select { vertical-align: middle; }
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;}

/** imgの下隙間を修正 **/
img{vertical-align:bottom;}

/** プライバシーポリシー **/
dl.ppHandling table{
	width:100%;
	margin-top:12px;
	border-collapse: collapse;
	border-spacing: 0;}
dl.ppHandling table thead{
	background-color: #dcdcdc70;
	text-align: center;}
dl.ppHandling table th,dl.ppHandling table td{
	border: 1px solid;}
dl.ppHandling table td{
	text-indent: 0;
	padding-left: 0.5rem}
dl.ppHandling table td:nth-child(3){
	text-align: center;
  text-indent: inherit;
  font-weight: bold;}
img.nameSize{
	height: 14px;
	vertical-align: baseline;}
img.telmailSize{
	height: auto;
	vertical-align: bottom;}
